<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments.html::head"></head>
<body>

<div th:replace="fragments.html::main-nav"></div>
<div th:replace="fragment/study.html::study-banner"></div>

<div class="container">
    <!-- 모임 상단 바 -->
    <div class="row py-2 bg-light justify-content-center">
        <div class="col-6 text-left">
                <span class="h2">
                <a th:href="@{'/study/' + ${study.path}}" th:text="${study.title}">스터디 이름</a> /
                <span th:text="${event.title}"></span>
                </span>
        </div>
        <div class="col-4 text-right">
            <!-- 모달 버튼 -->
            <th:block sec:authorize="isAuthenticated()">
                <button th:if="${event.isEnrollableFor(#authentication.principal)}" type="submit"
                        class="btn btn-outline-primary" data-toggle="modal" data-target="#enrollModal">
                    <i class="fas fa-plus-circle"></i> 참가 신청
                </button>
                <button th:if="${event.isDisEnrollableFor(#authentication.principal)
                                && !event.isAttended(#authentication.principal)}" type="button"
                        class="btn btn-outline-primary" data-toggle="modal" data-target="#disEnrollModal">
                    <i class="fas fa-minus-circle"></i> 참가 신청 취소
                </button>
                <button th:if="${event.isAttended(#authentication.principal)}" type="button"
                        class="btn btn-success disabled">
                    참가 완료
                </button>
            </th:block>
        </div>
    </div>

    <!-- 모임 상단 바: 모달 창-->
    <div>
        <!-- 참가 신청 -->
        <div class="modal fade" id="enrollModal" tabindex="-1" role="dialog" aria-labelledby="enrollModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enrollModalTitle" th:text="${event.title}">모임 타이틀</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>모임에 참석하시겠습니까? 일정을 캘린더에 등록해 두시면 좋습니다.</p>
                        <p>확인 버튼을 클릭하면 모임 참가 신청을 합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/join'}"
                              method="post">
                            <button type="submit" class="btn btn-primary">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 참가 신청 취소-->
        <div class="modal fade" id="disEnrollModal" tabindex="-1" role="dialog" aria-labelledby="disEnrollModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="disEnrollModalTitle" th:text="${event.title}">모임 타이틀</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>참가 신청을 취소하시겠습니까?</p>
                        <p>확인 버튼을 누르시면 참가 신청을 취소합니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/leave'}"
                              method="post">
                            <button type="submit" class="btn btn-primary">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2 justify-content-center">
        <div class="col-lg-7 border-right">
            <span class="font-weight-light">상세 모임 설명</span>
            <div class="mt-1 border mb-3" style="overflow: hidden" th:utext="${event.description}"></div>

            <span class="font-weight-light mt-5">모임 참가 신청 (<span th:text="${event.enrollments.size()}"></span>)</span>
            <div class="mt-1">
                <table class="table table-striped table-sm" th:if="${event.enrollments.size() > 0}">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">참석자</th>
                        <th scope="col">참가 신청 일시</th>
                        <th scope="col">참가 상태</th>
                        <th scope="col" th:if="${event.eventType == T(com.hellostudy.domain.EventType).CONFIRMATIVE}">참가 신청 관리</th>
                        <th scope="col" th:if="${event.isCreatedBy(#authentication.principal)}">출석 체크</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="enrollment : ${event.enrollments}">
                        <td th:text="${enrollmentStat.count}"></td>
                        <td>
                            <a th:href="@{'/profile/' + ${enrollment.account.nickname}}">
                                <svg th:if="${#strings.isEmpty(enrollment.account.profileImage)}"
                                     th:data-jdenticon-value="${enrollment.account.nickname}" width="24"
                                     height="24"></svg>
                                <img th:if="${!#strings.isEmpty(enrollment.account.profileImage)}"
                                     th:src="${enrollment.account.profileImage}" width="24" height="24"
                                     class="rounded border">
                                <span th:text="${enrollment.account.nickname}"></span>
                            </a>
                        </td>
                        <td>
                            <span class="date" th:text="${enrollment.enrolledAt}"></span>
                            <span class="time" th:text="${enrollment.enrolledAt}"></span>
                        </td>
                        <td>
                            <span th:if="${enrollment.accepted}">확정</span>
                            <span th:if="${!enrollment.accepted}">대기중</span>
                        </td>
                        <td th:if="${event.eventType == T(com.hellostudy.domain.EventType).CONFIRMATIVE}">
                            <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/accept/' + ${enrollment.id}}"
                                  th:if="${!enrollment.accepted}" method="post">
                                <button type="submit" class="btn btn-outline-success btn-sm">수락</button>
                            </form>
                            <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/disAccept/' + ${enrollment.id}}"
                                  th:if="${enrollment.accepted}" method="post">
                                <button type="submit" class="btn btn-outline-danger btn-sm">취소</button>
                            </form>
                        </td>
                        <td th:if="${event.isCreatedBy(#authentication.principal)}">
                            <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/checkIn/' + ${enrollment.id}}"
                                  th:if="${!enrollment.attended}" method="post">
                                <button type="submit" class="btn btn-outline-success btn-sm">체크인</button>
                            </form>
                            <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/checkOut/' + ${enrollment.id}}"
                                  th:if="${enrollment.attended}" method="post">
                                <button type="submit" class="btn btn-outline-danger btn-sm">체크인 취소</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <dl class="col-lg-3 pt-3 text-right">
            <dt class="font-weight-light">모집 방법</dt>
            <dd>
                <span th:if="${event.eventType == T(com.hellostudy.domain.EventType).FCFS}">선착순</span>
                <span th:if="${event.eventType == T(com.hellostudy.domain.EventType).CONFIRMATIVE}">관리자 확인</span>
            </dd>

            <dt class="font-weight-light" th:if="${event.limitOfEnrollments != 0 }">모집 인원</dt>
            <dd>
                <span th:text="${event.limitOfEnrollments}"></span> 명
            </dd>

            <dt class="font-weight-light">참가 신청 마감 날짜</dt>
            <dd>
                <span class="date" th:text="${event.endEnrollmentDateTime}"></span>
                <span class="weekday" th:text="${event.endEnrollmentDateTime}"></span><br>
                <span class="time" th:text="${event.endEnrollmentDateTime}"></span>
            </dd>

            <dt class="font-weight-light">모임 날짜</dt>
            <dd>
                <span class="date" th:text="${event.startDateTime}"></span>
                <span class="weekday" th:text="${event.startDateTime}"></span><br>
                <span class="time" th:text="${event.startDateTime}"></span> -
                <span class="time" th:text="${event.endDateTime}"></span>
            </dd>

            <dt class="font-weight-light">모임 대표</dt>
            <dd>
                <a th:href="@{'/profile/' + ${event.createBy.nickname}}">
                    <svg th:if="${#strings.isEmpty(event.createBy.profileImage)}"
                         th:data-jdenticon-value="${event.createBy.nickname}" width="24" height="24"></svg>
                    <img th:if="${!#strings.isEmpty(event.createBy.profileImage)}"
                         th:src="${event.createBy.profileImage}" width="24" height="24" class="rounded border">
                    <span th:text="${event.createBy.nickname}"></span>
                </a>
            </dd>

            <th:block th:if="${study.isManager(#authentication.principal)}">
                <dt class="font-weight-light">모임 관리</dt>
                <dd>
                    <a class="btn btn-outline-primary btn-sm"
                       th:href="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/edit'}">모임 수정</a><br>
                    <!-- 모임 취소 모달 버튼 -->
                    <button type="button" class="btn btn-outline-danger btn-sm mt-1" data-toggle="modal"
                            data-target="#eventCancelBtn">
                        모임 취소
                    </button>
                </dd>
                <!-- 모임 취소 모달 -->
                <div class="modal fade" id="eventCancelBtn" tabindex="-1" role="dialog"
                     aria-labelledby="eventCancelBtnLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eventCancelBtnLabel">모임 취소</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                <span>확인을 누르면 모임을 취소합니다.</span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">돌아가기</button>
                                <form th:action="@{'/study/' + ${study.path} + '/events/' + ${event.id} + '/delete'}"
                                      method="post">
                                    <button type="submit" class="btn btn-danger">확인</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </dl>
    </div>


</div>
<div th:replace="fragments.html::footer"></div>
<div th:replace="fragments.html::form-validation"></div>
<script th:replace="fragment/event::momentJs"></script>
</body>
</html>