<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
    <div th:replace="fragments.html::main-nav"></div>

    <div class="container">
        <div class="py-5 text-center">
            <h2>스터디 개설</h2>
        </div>
        <div class="row justify-content-center">

        </div>

        <div th:replace="fragments.html::footer"></div>
    </div>
    <script th:replace="fragments.html::form-validation"></script>
</body>