<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
    <div th:replace="fragments.html::main-nav"></div>
    <!-- 스터디 로고 -->
    <div th:replace="fragment/study.html::study-banner"></div>

    <div class="container">
        <!-- 스터디 정보 -->
        <div th:replace="fragment/study.html::study-info"></div>

        <!-- 스터디 메뉴 -->
        <div th:replace="fragment/study.html::study-menu(currentMenu='info')"></div>

        <!-- 전체 설명 -->
        <div class="row px-3 justify-content-center">
            <div class="col-10 pt-3" th:utext="${study.fullDescription}"></div>
        </div>
    </div>
    <div th:replace="fragments.html::footer"></div>
</body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
</html>