<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<div th:fragment="notificationCard(cardTitle, notifications)" class="card" th:if="${notifications.size() > 0}">
    <div class="card-header">
        <span th:text="${cardTitle}"></span>
    </div>
    <div class="list-group list-group-flush">
        <a th:href="@{${notification.link}}" class="list-group-item list-group-item-action" th:each="notification : ${notifications}">
            <div class="d-flex justify-content-between">
                <span class="text-muted" th:text="${notification.title}"></span>
                <span class="relative-minute text-muted" th:text="${notification.createdTime}"></span>
            </div>
            <span class="h5" th:text="${notification.message}"></span>
        </a>
    </div>
</div>
</html>
