<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- 스터디 배너 -->
<div th:fragment="study-banner" th:if="${study.useBanner}" class="row" id="study-logo">
    <img th:src="${study.image}"/>
</div>

<!-- 스터디 정보 -->
<div th:fragment="study-info">
    <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
            <a th:href="@{'/study/' + ${study.path}}">
                <span class="h2" th:text="${study.title}">스터디 이름</span>
            </a>
        </div>
        <div class="col-4 text-right justify-content-end">
            <span th:if="${study.published}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="스터디 공개중">
                <button class="btn btn-primary btn-sm" style="pointer-events: none" type="button"
                        disabled>DRAFT</button>
            </span>
            <span th:if="${study.closed}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="스터디 종료함">
                <button class="btn btn-primary btn-sm" style="pointer-events: none" type="button"
                        disabled>CLOSED</button>
            </span>
            <span th:if="${!study.recruiting}" class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  data-placement="bottom" title="팀원 모집중 아님">
                <button class="btn btn-primary btn-sm" style="pointer-events: none" type="button" disabled>OFF</button>
            </span>
            <span sec:authorize="isAuthenticated()" th:if="${study.isJoinable(#authentication.principal)}"
                  class="btn btn-group" role="group">
                <a class="btn btn-primary" th:href="@{'/study/' + ${study.path} + '/join'}">스터디 가입</a>
                <a class="btn btn-outline-primary disabled" th:href="@{'/study' + ${study.path} + '/members'}"
                   th:text="${study.members.size()}">1</a>
            </span>
            <span sec:authorize="isAuthenticated()" th:if="${!study.closed && study.isMember(#authentication.principal)}"
                  class="btn-group" role="group">
                <a class="btn btn-outline-warning" th:href="@{'/study/' + ${study.path} + '/leave'}">스터디 탈퇴</a>
                <a class="btn btn-outline-primary disabled" th:href="@{'/study' + ${study.path} + '/members'}"
                   th:text="${study.members.size()}">1</a>
            </span>
            <span sec:authorize="isAuthenticated()" class="btn-group" role="group"
                  th:if="${study.published && !study.closed && study.isManager(#authentication.principal)}">
                <a class="btn btn-outline-primary" th:href="@{'/study' + ${study.path} + '/new-event'}">
                    <i class="fas fa-plus"></i> 모임 만들기</a>
            </span>
        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p class="lead" th:text="${study.shortDescription}"></p>
        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col-10">
            <p>
                <span th:each="tag: ${study.tags}"
                      class="font-weight-light text-monospace badge badge-pill badge-info mr-3">
                    <a th:href="${'/search/tag/' + tag.title}" class="text-decoration-none text-white">
                        <i class="fas fa-tag"></i><span th:text="${tag.title}">tag</span>
                    </a>
                </span>
                <span th:each="zone: ${study.zones}"
                      class="font-weight-light text-monospace badge badge-pill badge-primary mr-3">
                    <a th:href="${'/search/zone/' + zone.id}" class="text-decoration-none text-white">
                        <i class="fas fa-globe"></i><span th:text="${zone.localNameOfCity}">zone</span>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>

<!-- 스터디 메뉴 -->
<div th:fragment="study-menu(currentMenu)" class="row px-3 justify-content-center bg-light">
    <nav class="col-10 nav nav-tabs">
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'info'}? active" th:href="@{'/study/' + ${study.path}}">
            <i class="fas fa-info-circle"></i> 소개
        </a>
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'members'}? active" th:href="@{'/study/' + ${study.path} + '/members'}">
            <i class="fas fa-user"></i> 구성원
        </a>
        <a class="nav-item nav-link" th:classappend="${currentMenu == 'events'}? active" th:href="@{'/study/' + ${study.path} + '/events'}">
            <i class="fas fa-calendar"></i> 모임
        </a>
        <a  sec:authorize="isAuthenticated()" th:if="${study.isManager(#authentication.principal)}"
                class="nav-item nav-link" th:classappend="${currentMenu == 'settings'}? active" th:href="@{'/study/' + ${study.path} + '/settings/description'}">
            <i class="fas fa-cog"></i> 설정
        </a>
    </nav>
</div>

<!-- 스터디 구성원 -->
<div th:fragment="member-list(members, isManager)" class="row justify-content-center container">
    <ul class="list-unstyled col-10">
        <li th:each="member: ${members}" class="media mt-2">
            <svg th:if="${#strings.isEmpty(member?.profileImage)}" class="rounded border bg-light mr-3" data-jdenticon-value="user127"
                 th:data-jdenticon-value="${#authentication.name}" width="64" height="64"></svg>
            <img th:if="${!#strings.isEmpty(member?.profileImage)}" th:src="${member.profileImage}"
                 class="rounded border mr-3" width="64" height="64"/>
            <div class="media-body">
                <h5 class="mt-0 mb-1">
                    <span th:text="${member.nickname}"></span>
                    <span th:if="${isManager}" class="badge badge-primary">관리자</span>
                </h5>
                <span th:text="${member.bio}"></span>
            </div>
        </li>
    </ul>
</div>

<!-- 스터디 설정 메뉴 -->
<div th:fragment="settings-menu (currentMenu)" class="list-group">
    <a th:href="@{'/study/' + ${study.path} +  '/settings/description'}" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'description'}  ? active">소개</a>
    <a th:href="@{'/study/' + ${study.path} +  '/settings/banner'}" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'banner'} ? active">배너 이미지</a>
    <a th:href="@{'/study/' + ${study.path} +  '/settings/tags'}" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'} ? active">스터디 주제</a>
    <a th:href="@{'/study/' + ${study.path} +  '/settings/zones'}" class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'} ? active">활동 지역</a>
    <a th:href="@{'/study/' + ${study.path} +  '/settings/study'}" class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'study'} ? active">스터디</a>
</div>

<!-- 스터디 설정 WYSIWYG  (Ajax csrf 토큰 필요) -->
<script th:fragment="summernote-script" type="application/javascript">
    $(function () {
        $('#fullDescription').summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
            placeholder: '스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어주세요.',
            tabsize: 2,
            height:300,
            callbacks: {
                onImageUpload: function (files) {
                    uploadSummernoteImageFile(files[0], this);
                }
            }
        });
    });

    function uploadSummernoteImageFile(file, editor) {
        let data = new FormData();
        data.append("file", file);
        $.ajax({
            data: data,
            type: "POST",
            url: "/uploadSummernoteImageFile",
            contentType: false,
            processData: false,
            success: function(path) {
                $(editor).summernote('insertImage', path);
            },
            error: function (error) {
                console.log(error)
            }
        })
    }
</script>

<!-- 스터디 툴팁 -->
<script th:fragment="tooltip">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>