<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">

<div th:replace="fragments.html::main-nav"></div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-2">
            <div th:replace="fragments.html::settings-menu ('password')"></div>
        </div>
        <div class="col-8">
            <div class="alert alert-success alert-dismissible fade show col-sm-8" role="alert" th:if="${message}">
                <strong th:text="${message}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show col-sm-8" role="alert" th:if="${error}">
                <strong th:text="${error}"></strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <h2 class="col">패스워드 변경</h2>
            </div>
            <div class="row mt-3">
                <form th:action="@{/settings/password}" method="post" class="col-sm-8 needs-validation" th:object="${passwordForm}" novalidate>
                    <div class="form-group">
                        <label for="password">새 패스워드</label>
                        <input id="password" type="password" class="form-control" th:field="*{password}"
                               aria-describedby="passwordHelp" minlength="8" maxlength="50" required>
                        <small id="passwordHelp" class="form-text text-muted">새 패스워드를 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:error="*{password}">
                            형식에 맞지 않습니다.
                        </small>
                        <div class="invalid-feedback">
                            길이에 맞게 입력해주세요.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">새 패스워드</label>
                        <input id="confirmPassword" type="password" class="form-control" th:field="*{confirmPassword}"
                               aria-describedby="confirmPasswordHelp" min="8" max="50" required>
                        <small id="confirmPasswordHelp" class="form-text text-muted">새 패스워드를 한번 더 입력하세요.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:error="*{confirmPassword}">
                            형식에 맞지 않습니다.
                        </small>
                        <div class="invalid-feedback">
                            길이에 맞게 입력해주세요.
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary mb-2">변경하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments.html::form-validation"></div>
<div th:replace="fragments.html::footer"></div>
</body>