<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments.html::head"></head>
<head>
    <!-- cropper js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cropper/1.0.1/jquery-cropper.min.js"></script>
</head>
<body class="bg-light">

<div th:replace="fragments.html::main-nav"></div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-2">
            <div th:replace="fragments.html::settings-menu ('profile')"></div>
        </div>
        <div class="col-8">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message}">
                <strong th:text="${message}">완료 메시지</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row">
                <h2 th:text="${account.nickname}" class="col">nickname</h2>
            </div>
            <div class="row mt-3">
                <form class="col-sm-6 needs-validation" th:action="@{/settings/profile}" th:object="${profileForm}" method="post" novalidate>
                    <div class="form-group">
                        <label for="bio">한줄소개</label>
                        <input type="text" class="form-control" th:field="*{bio}" id="bio" placeholder="간략한 소개를 부탁합니다."
                               aria-describedby="bioHelp" required>
                        <small id="bioHelp" class="form-text text-muted">35글자 이내로 입력하세요.</small>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('bio')}" th:error="*{bio}">
                            조금 길어요..
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url">링크</label>
                        <input type="text" class="form-control" th:field="*{url}" id="url" placeholder="http://studyolle.com"
                               aria-describedby="urlHelp" required>
                        <small id="urlHelp" class="form-text text-muted">
                            블로그, 유튜브 또는 포트 폴리오나 좋아하는 웹 사이트 등 본인을 표현할 수 있는 링크를 추가하세요.
                        </small>
                        <div class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:error="*{url}">
                            올바른 URL이 아닙니다. 예시처럼 입력해 주세요.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="occupation">직업</label>
                        <input type="text" class="form-control" th:field="*{occupation}" id="occupation" placeholder="어떤일을 하고 계신가요?"
                               aria-describedby="occupationHelp" required>
                        <small id="occupationHelp" class="form-text text-muted">
                            개발자? 매니저? 취준생? 대표님?
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="location">활동 지역</label>
                        <input type="text" class="form-control" th:field="*{location}" id="location" placeholder="어떤일을 하고 계신가요?"
                               aria-describedby="locationHelp" required>
                        <small id="locationHelp" class="form-text text-muted">
                            주요 활동지역을 알려주세요.
                        </small>
                    </div>

                    <div class="form-group">
                        <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-primary">수정</button>
                    </div>

                </form>
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-header">
                            프로필 이미지
                        </div>
                        <div id="current-profile-image" class="mt-3">
                            <svg th:if="${#strings.isEmpty(profileForm.profileImage)}" class="rounded"
                                 th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>
                            <img th:if="${!#strings.isEmpty(profileForm.profileImage)}" class="rounded"
                                 th:src="${profileForm.profileImage}" width="125" height="125" th:alt="${account.nickname}">
                        </div>
                        <div id="new-profile-image" class="mt-3"></div>
                        <div class="card-body">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="profile-image-file">
                                <label for="profile-image-file" class="custom-file-label">프로필 이미지 변경</label>
                            </div>
                            <div id="new-profile-image-control" class="mt-3">
                                <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                                <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                            </div>
                            <div id="cropped-new-profile-image" class="mt-3"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html::footer"></div>
<script type="application/javascript">
    $(function () {
        let confirmBtn = $('#confirm-button')
        let resetBtn = $('#reset-button')
        let cutBtn = $('#cut-button')
        let newProfileImage = $('#new-profile-image')
        let currentProfileImage = $('#current-profile-image')
        let resultImage = $('#cropped-new-profile-image')
        let profileImage = $('#profileImage')

        newProfileImage.hide()
        cutBtn.hide()
        resetBtn.hide()
        confirmBtn.hide()

        $('#profile-image-file').change(function (e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader()
                reader.onload = e => {
                    if (e.target.result) {
                        let img = document.createElement('img')
                        img.id = 'new-profile'
                        img.src = e.target.result
                        img.width = 250

                        newProfileImage.html(img)
                        newProfileImage.show()
                        currentProfileImage.hide()

                        let newImage = $(img);
                        newImage.cropper({aspectRatio:1})
                        cropper = newImage.data('cropper')

                        cutBtn.show()
                        confirmBtn.hide()
                        resetBtn.show()
                    }
                }
                reader.readAsDataURL(e.target.files[0])
            }
        })

        resetBtn.click(function () {
            currentProfileImage.show()
            newProfileImage.hide()
            resultImage.hide()
            resetBtn.hide()
            cutBtn.hide()
            confirmBtn.hide()
            profileImage.val('')
        });

        cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL()
            let newImage = document.createElement('img')
            newImage.id = 'cropped-new-profile-image'
            newImage.src = dataUrl
            newImage.width = 125
            resultImage.html(newImage)
            resultImage.show()
            confirmBtn.show()

            confirmBtn.click(function () {
                newProfileImage.html(newImage)
                cutBtn.hide()
                confirmBtn.hide()
                profileImage.val(dataUrl)
            })
        })


    });
</script>
</body>