<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments.html::head"></head>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.0.0/tagify.min.css" integrity="sha512-UZcJ2LgifDD+cGLeNAPay6av2WFnNk/0HnmOnMoib7FujOV1CuQygHjvOFAwvx4u04CF0o1yGgyH1xRr3XvCKA==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.0.0/jQuery.tagify.min.js" integrity="sha512-uo3YEvOn+6fD2GRFliFMDNaI2fxuMkjzf42ThL7IZovwkOW6a5jWDVjWx+uczOiTt3ZlJRWT1vuqbjx3AHwiPw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.0.0/tagify.min.js" integrity="sha512-cgnDkuTNBjsM27giWgYIQZv4cGvbwttJpS3ADNxNLRjzKvUwRCoQlJYJzkfpzP20rJh2ChZo+5GQPtRhHzXHfQ==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        .tagify--outside{
            border: 0;
        }
    </style>
</head>
<body class="bg-light">
<div th:replace="fragments.html::main-nav"></div>
<!-- 스터디 로고 -->
<div th:replace="fragment/study.html::study-banner"></div>

<div class="container">
    <!-- 스터디 정보 -->
    <div th:replace="fragment/study.html::study-info"></div>

    <!-- 스터디 메뉴 -->
    <div th:replace="fragment/study.html::study-menu(currentMenu='settings')"></div>

    <div class="row justify-content-center mt-2">
        <div class="col-2">
            <div th:replace="fragment/study.html::settings-menu (currentMenu='tags')"></div>
        </div>
        <div class="col-8">
            <h3>스터디 주제</h3>
            <div class="row">
                <div class="col">
                    <div class="alert alert-info" role="alert">
                        스터디에서 주로 다루는 주제를 태그로 등록하세요.
                        태그를 입력하고 콤마(,)나 엔터를 입력하세요.
                    </div>
                    <input id="tags" type="text" name="tags" class="tagify--outside"
                           th:value="${#strings.listJoin(tags, ',')}" aria-describedby="tagsHelp">
                    <div id="whiteList" th:text="${whiteList}" hidden=""></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html::footer"></div>
</body>
<script th:replace="fragment/study.html::tooltip"></script>
<script th:replace="fragments.html::form-validation"></script>
<script th:replace="fragments.html::ajax-csrfToken"></script>
<script th:replace="fragment/tags.html::update-tag(baseUrl='/study/' + ${study.path} + '/settings/tags')"></script>
</html>